<{{ __SELF__.tag ? __SELF__.tag : 'div' }}
    {% if __SELF__.tag %}data-fixture data-ce-tag="p" {% else %}data-editable{% endif %}
    data-component="{{ __SELF__ }}::onSave"
    data-file="{{ __SELF__.file }}"
    data-tools="{{ __SELF__.tools }}"
    data-name="{{ __SELF__.file }}"
    {% if __SELF__.class %}class="{{ __SELF__.class }}"{% endif %}>
    {% if (__SELF__.content|raw) == '' %}
        {% if not __SELF__.fixture %}
            <p>
            </p>
        {% endif %}
    {% else %}
    {{__SELF__.content|raw}}
    {% endif %}
</{{ __SELF__.tag ? __SELF__.tag : 'div' }}>

{% if __SELF__.renderCount == 1 %}
    {% put scripts %}
    <script type="text/javascript">
        document.lang = '{{ lang }}';
    </script>
    <script type="text/javascript">document.contentEditorTranslations = {{ localisations | json_encode | raw}};</script>
    <script type="text/javascript" src="/plugins/kosmoskosmos/bettercontenteditor/assets/content-tools.min.js"></script>
    <script type="text/javascript" src="/plugins/kosmoskosmos/bettercontenteditor/assets/contenteditor.js"></script>
    <script type="text/javascript">

    /* CONTENT EDITOR SCRIPT START */
    ContentTools.StylePalette.add([
    {% for style in __SELF__.palettes %}
        new ContentTools.Style('{{ style.name ? style.name : style.class }}', '{{ style.class }}', {{ style.allowed_tags|json_encode()|raw }}),
    {% endfor %}
    ]);
    editor.toolbox().tools([
        ['{{ __SELF__.buttons | join("', '") | raw }}'],
        ['undo', 'redo', 'remove']
    ]);
    {% if lang != 'en' %}
    ContentEdit.addTranslations('{{lang}}', {{translations |raw}});
    ContentEdit.LANGUAGE = '{{lang}}';
    {% endif %}
    /* CONTENT EDITOR SCRIPT END */
    </script>
    {% endput %}
{% endif %}
