{% if __SELF__.renderCount == 1 %}{% partial __SELF__~'::script' %}{% endif %}

    {% if bce.tag == 'img' %}
    <div id="{{bce.item}}" data-key="{{bce.key}}" class="{{bce.classes}} uk-cover-container js-upload uk-text-center">
        <img src="{{ bce.image }}" {{bce.attributes}} uk-cover>
        <img src="{{ bce.image }}" alt="{{bce.fileName}}" style="width: 100%">
        {% partial __SELF__~'::uploader' %}
    </div>

    {% else %}

    <{{bce.tag}} id="{{bce.item}}" data-key="{{bce.key}}" {{bce.attributes}} class="js-upload uk-text-center {{bce.classes}}" style="background-image: url({{ bce.image }});">
        {% partial __SELF__~'::uploader' %}
        {% if not bce.leaveOpen %}
    </{{bce.tag}}>

    {% endif %}

{% endif %}
