<div class="uk-position-cover js-uploader">
    <div class="uk-position-center">
        <div class="uk-text-center">
            <span uk-icon="icon: cloud-upload"></span>
            <span class="uk-text-middle">{{'kosmoskosmos.bettercontenteditor::lang.imageuploader.upload_first'|trans}}</span>
            <div uk-form-custom>
                <input type="file" multiple>
                <span class="uk-link">{{'kosmoskosmos.bettercontenteditor::lang.imageuploader.upload_second'|trans}}</span>
            </div>
        </div>
    </div>
</div>
